.header-menu {
  display: flex;
  gap: 2rem;
  width: 40%;
  font-weight: bold;
}

.header-menu a {
  text-decoration: none;
  color: var(--text-color-gray-medium);
}

.header-menu a:first-child {
  color: var( --mainboard-center-color);
  position: relative;
}

.header-menu a:hover {
  opacity: 0.5;
}

.home-svg {
  width: 5rem;
  height: auto;
  position: absolute;
  top: -.7rem;
  left: -1.3rem;
  stroke-width: 8;
}