.header-loginmenu {
  width: 40%;/* 28.3%; */
  display: flex;
  justify-content: flex-end;
  justify-items: stretch;
  gap: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.header-loginmenu-signin {
  border: none;
  background-color: transparent;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.header-loginmenu-signin:hover {
  opacity: 0.5;
}

.header-loginmenu-register {
  border: none;
  border-radius: 1.8rem;
  padding: 0.9rem 1.7rem 1.1rem 1.7rem;
  background-color: black;
  color: white;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.header-loginmenu-register:hover {
  opacity: 0.5;
}

.header-loginmenu-register.dark {
  border: 1px solid #8886 ;
}

