.App {
  text-align: center;
  background-color: var(--body-color);
  max-width: 1280px;
  margin: 0 auto;
}

.App h2 {
  margin-top: 5rem;
  margin-bottom: 0;
  text-align: left;
  padding-left: 6rem;
}


/* *****************Responsive Desktop first****************** */
/* *********************************************************** */

/* *****************Up  to 768px ***************************** */
@media screen and (max-width: 767px) {
  .App h2 {
    padding-left: 5%;
  }
}